/*#region Page */

#landing {
    position: relative;
    height: 20vh;
    min-height: 400px;
    z-index: 0;
    background-position: center;
    color: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/images/landing-sm.webp');
}

#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, .5);
}

#landing img {
    height: 35%;
    min-height: 300px;
    max-height: 450px;
    margin-bottom: 4rem;
}

#landing #landing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#landing #landing-buttons .btn {
    min-width: 100px;
    max-width: 200px;
    width: 20%;
    display: inline-block;
}



input {
    font-family: 'Roboto';
    border: none;
}

input[type=date], input[type=time], input {
    padding: 3rem;
    font-size: 1rem;
}

input {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

input[type=time] {
    text-align: center;
    width: 30%;
}

input[type=number] {
    text-align: center;
}

input:focus {
    outline: 1px solid var(--primary);
}

input[type=month] {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*#endregion Page */

/*#region Selection Body */
#sections {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0;
}

#sections section {
    position: relative;
    width: 100%;
    min-width: 100%;
}

#sections section h2 {
    margin-bottom: 0;
    margin-left: 2rem;
}

#sections section h3, #sections section h4 {
    margin-left: 2rem;
}

.next-btn {
    position: absolute;
    background-color: var(--foreground);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    top: 8rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    transition: color, background-color, box-shadow;
    transition-duration: 200ms;
}

.next-btn i {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.next-btn:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    background-color: var(--primary);
    cursor: pointer;
    color: var(--foreground);
}

/*#endregion Selection Body */

/*#region Time Span */

#time-span .card {
    position: relative;
    background-color: var(--foreground);
    color: var(--background);
    height: 80%;
    margin: 0 1rem;
    aspect-ratio: 2/3;
    z-index: 0;
    cursor: pointer;
    transition: box-shadow, transform;
    transition-duration: 200ms;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
}

#time-span .card .name {
    font-weight: 900;
    font-size: 3rem;
}

#time-span .card .description {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity, transform;
    transition-duration: 200ms;
}

#time-span .card .btn {
    position: absolute;
    bottom: 1rem;
    width: 75%;
}

#time-span .card:hover .description {
    transform: translateY(0%);
    opacity: 1;
}

#time-span .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: background;
    transition-duration: 200ms;
}

#time-span .card:before {
    content: '';
    filter: blur(8px);
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    transition: background, filter;
    transition-duration: 200ms;
}

#time-span .card#daily:before {
    background-image: url('/assets/images/nightly.webp')
}

#time-span .card#daily:after {
    background: linear-gradient(to bottom, rgba(20, 135, 180, 0.274), rgba(13, 13, 143, 0.5));
}

#time-span .card#seasonal:before {
    background-image: url('/assets/images/seasonal.webp')
}

#time-span .card#seasonal:after {
    background: linear-gradient(to bottom, rgba(180, 20, 20, 0.5), rgba(13, 13, 143, 0.5));
}

#time-span .card:hover {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5);
    transform: scale(1.01);
}

#time-span .card:hover:before {
    filter: blur(0px);
}

/*#endregion Time Span */

/*#region Cabin Selectors */

#cabin #cabin-names {
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    font-weight: 300;
}

#cabin #cabin-names p, .page-nav-item {
    padding: 2rem 1rem;
    margin: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: color 200ms;
}

#cabin #cabin-names p::before, .page-nav-item::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 0;
    position: absolute;
    background: var(--foreground);
    transition: max-width 200ms;
}

#cabin #cabin-names p:hover, #cabin #cabin-names p[selected], .page-nav-item:hover, .page-nav-item[selected] {
    color: white;
}

#cabin #cabin-names p:hover::before, #cabin #cabin-names p[selected]::before, .page-nav-item:hover::before, .page-nav-item[selected]::before {
    max-width: 100%;
}


#cabin #cabin-images {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#cabin #cabin-images::-webkit-scrollbar {
    display: none;
}

#cabin #cabin-image {
    height: 100%;
    width: 100%;
    min-width: 500px;
    background-image: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 100ms;
}


/*#endregion Cabin Selectors */

/*#region Counters */
.items {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
    margin: 1rem;
}

.count {
    color: var(--foreground);
    width: 100%;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.count[selected], .count:hover {
    color: var(--background);
    background-color: var(--foreground);
}

/*#endregion Counters */

/*#region Times */
#times #start-times, #times #end-times {
    width: 40%;
    margin: 1rem;
}

#times h4 {
    margin-bottom: 0;
}

#times input[type=date] {
    width: 100%;
}

/*#endregion Times */

/*#region Itemized */
#itemized {
    position: relative;
    padding-bottom: 4rem;
}

#itemized .price {
    text-decoration: underline;
    font-weight: 900;
}

#balance-amount {
    position: relative;
    padding: 1rem 0;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: 800;
    background-color: transparent;
    color: var(--foreground);
    padding: 1rem 2rem;
    border-radius: 100px;
    transition: background-color, color, position;
    transition-duration: 200ms;
}

/*#endregion Itemized */

/*#region Contact */
#contact-information input {
    width: calc(100% - 2rem);
    padding: 1rem;
    margin: 1rem 0;
}

#contact-information .row input[name="fname"] {
    margin-right: 1rem;
}

/*#endregion Contact */

/*#region Payments */
#online-payment input#card-number {
    width: 100%;
}

/*#endregion Payments */