/*#region Page */

#landing {
    position: relative;
    height: 20vh;
    min-height: 400px;
    z-index: 0;
    background-position: center;
    color: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/images/landing-sm.webp');
}

#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, .5);
}

#landing img {
    height: 35%;
    min-height: 300px;
    max-height: 450px;
    margin-bottom: 4rem;
}

#landing #landing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#landing #landing-buttons .btn {
    min-width: 100px;
    max-width: 200px;
    width: 20%;
    display: inline-block;
}

/*#endregion Page */

/*#region Selection Body */
#sections {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    height: 80vh;
    min-height: 700px;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0;
    margin-top: 100px;
}

#sections::-webkit-scrollbar {
    display: none;
}

#sections section {
    position: relative;
    width: 100%;
    min-width: 100%;
}

#sections section h2 {
    margin-bottom: 0;
    margin-left: 2rem;
    margin-top: 0;
}

#sections section h3, #sections section h4 {
    margin-left: 2rem;
    margin-bottom: 0;
}

section>p {
    margin-left: 2rem;
}

#section-navigation {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 200px;
}

.section-nav-item {
    background-color: var(--foreground);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2rem;
    bottom: 2rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 100px;
    margin: 0 2rem;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    transition: color, background-color, box-shadow;
    transition-duration: 200ms;
}

.section-nav-item i {
    font-size: 1rem;
}

#next.section-nav-item i {
    margin-left: 2rem;
}

#previous.section-nav-item i {
    margin-right: 2rem;
}

.section-nav-item:not([disabled]):hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    background-color: var(--primary);
    cursor: pointer;
    color: var(--foreground);
}

.section-nav-item[disabled] {
    cursor: default;
    filter: brightness(.5);
}


/*#endregion Selection Body */

/*#region Card */

.card {
    position: relative;
    background-color: var(--foreground);
    color: var(--background);
    height: 80%;
    max-height: 600px;
    min-height: 400px;
    margin: 0 1rem;
    aspect-ratio: 2/3;
    z-index: 0;
    cursor: pointer;
    transition: box-shadow, transform;
    transition-duration: 200ms;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
}

.card .name {
    font-weight: 900;
    font-size: 3rem;
}

.card .description {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity, transform;
    transition-duration: 200ms;
}

.card .btn {
    position: absolute;
    bottom: 1rem;
    width: 75%;
}

.card:hover .description {
    transform: translateY(0%);
    opacity: 1;
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: background;
    transition-duration: 200ms;
}

.card:before {
    content: '';
    filter: blur(8px);
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    transition: background, filter;
    transition-duration: 200ms;
}

.card:hover {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5);
    transform: scale(1.01);
}

.card:hover:before {
    filter: blur(0px);
}

/*#endregion Card */

/*#region Time Span */
#time-span .card#daily:before {
    background-image: url('/assets/images/nightly.webp')
}

#time-span .card#daily:after {
    background: linear-gradient(to bottom, rgba(20, 135, 180, 0.274), rgba(13, 13, 143, 0.5));
}

#time-span .card#seasonal:before {
    background-image: url('/assets/images/seasonal.webp')
}

#time-span .card#seasonal:after {
    background: linear-gradient(to bottom, rgba(180, 20, 20, 0.5), rgba(13, 13, 143, 0.5));
}


/*#endregion Time Span */

/*#region Cabin Selectors */

#cabin #cabin-names {
    width: 100%;
    justify-content: start;
    font-size: 2rem;
    font-weight: 300;
}

#cabin #cabin-names p, .page-nav-item {
    padding: 2rem 1rem;
    margin: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: color 200ms;
}

#cabin #cabin-names p::before, .page-nav-item::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 0;
    position: absolute;
    background: var(--foreground);
    transition: max-width 200ms;
}

#cabin #cabin-names p:hover, #cabin #cabin-names p[selected], .page-nav-item:hover, .page-nav-item[selected] {
    color: white;
}

#cabin #cabin-names p:hover::before, #cabin #cabin-names p[selected]::before, .page-nav-item:hover::before, .page-nav-item[selected]::before {
    max-width: 100%;
}


#cabin #cabin-images {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#cabin #cabin-images::-webkit-scrollbar {
    display: none;
}

#cabin #cabin-image {
    height: 100%;
    width: 100%;
    min-width: 500px;
    background-image: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 100ms;
}

#cabin>.row {
    height: 100%;
}



/*#endregion Cabin Selectors */

/*#region Counters */
#pets, #adults, #children {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.items {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
    margin: 1rem;
}

.count {
    color: var(--foreground);
    width: 100%;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.count[selected], .count:hover {
    color: var(--background);
    background-color: var(--foreground);
}

/*#endregion Counters */

/*#region Times */
#times #start-times, #times #end-times {
    width: 75%;
    margin: 1rem;
}

#times h4 {
    margin-bottom: 0;
}

#times input[type=date] {
    width: 100%;
}

#times h4 {
    margin: 1rem;
    margin-left: 1rem;
}

/*#endregion Times */

/*#region Itemized */
#itemized {
    position: relative;
    padding-bottom: 4rem;
}

#itemized .price {
    text-decoration: underline;
    font-weight: 900;
}

#itemized p {
    font-size: 2rem;
    margin-left: 7.5%;
}

#itemized table {
    width: 85%;
    margin: 0 auto;
    margin-top: 3rem;
    border-collapse: collapse;
}

#itemized table tr th {
    text-align: start;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#itemized table tr td {
    padding: 2rem 1rem;
    font-size: 1rem;
}

#itemized table tr:nth-child(even) {
    background-color: var(--foreground);
    color: var(--background);
}

#itemized #balance-line {
    width: auto;
    position: relative;
}

#itemized #print-itemized.btn {
    width: 200px;
    font-size: 1rem;
    position: absolute;
    right: 3rem;
}

#itemized #print-itemized.btn i {
    margin-right: 1rem;
}

/*#endregion Itemized */

/*#region Contact */
#contact-information .col {
    width: 70%;
    justify-content: center;
}

#contact-information input {
    width: 100%;
}

#contact-information input[name="fname"] {
    width: 80%;
}

label {
    font-size: 1.2rem;
    margin: 1rem 0;
}

/*#endregion Contact */

/*#region Payment Methods */

#payment-method .card#inperson-payment-card:before {
    background-image: url('/assets/images/inperson-payment.webp')
}

#payment-method .card#inperson-payment-card:after {
    background: linear-gradient(to bottom, rgba(180, 116, 20, 0.274), rgba(87, 143, 13, 0.5));
}

#payment-method .card#online-payment-card:before {
    background-image: url('/assets/images/online-payment.webp')
}

#payment-method .card#online-payment-card:after {
    background: linear-gradient(to bottom, rgba(20, 180, 92, 0.5), rgba(91, 13, 143, 0.5));
}

#payment-information, #timespan-information {
    width: 40%;
    margin-left: 1rem;
    position: relative;
    height: 100%;
}

#payment-method #buttons, #time-span #buttons {
    width: 50%;
    height: 100%;
}

#payment-method h2, #time-span h2 {
    margin-left: 0 !important;
}

#payment-information #cards {
    margin-top: 200px;
}

#payment-method #cards i {
    font-size: 6rem;
    margin: 0 5px;
}

/*#endregion Payment Methods */

/*#region Payments */
#online-payment input#card-number {
    width: 100%;
}

#online-payment #online-payment-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

#online-payment .btn {
    width: 100px;
    margin: 0 auto;
}

/*#endregion Payments */