.calendar-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day {
    text-align: center;
    outline: 1px solid black;
    outline-color: var(--foreground);
    aspect-ratio: 1;
    border-radius: 20px;
    transition: scale, background-color, color;
    transition-duration: 200ms;
}
.calendar-day:not(.invalid):hover, .calendar-day.selected{
    background-color: black;
    /* background-color: var(--foreground); */
    color: white;
    
}
.calendar-day:not(.invalid):hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.calendar-day.invalid {
    background-color: rgba(0, 0, 0, 0.5);
}

.current-day {
    background-color: rgba(0, 0, 0, 0.2);
}