/* Landing Page */
#landing {
    position: relative;
    height: 100vh;
    min-height: 800px;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/images/landing-lg.webp');
}

#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, .5);
}

#landing img {
    height: 35%;
    min-height: 300px;
    max-height: 450px;
    margin-bottom: 4rem;
    max-width: 75%;
}

#landing #landing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#landing #landing-buttons .btn {
    min-width: 100px;
    max-width: 200px;
    width: 20%;
    display: inline-block;
}

/* Fixed Page Arrow */
#page-arrow {
    --width: 50px;
    position: absolute;
    bottom: 2rem;
    right: calc(50% - var(--width) / 2);
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 100%;
    font-size: calc(var(--width) / 2);
    width: var(--width);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: right, background-color, color, transform;
    transition-duration: 200ms;
    z-index: 10;
}

#page-arrow:not([fixed=true]) {
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#page-arrow[fixed=true] {
    position: fixed;
    right: 1rem;
    transform: rotate(180deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .5);
}

#page-arrow:hover {
    background-color: white;
    color: black;
}

/* About US Section */

#about-us {
    padding: 0 4rem;
}

#about-us > .row > * {
    margin: 0 2rem;
    width: 100%;
}

#about-us > .row img {
    object-fit: contain;
}

#about-us p {
    font-size: 1.2rem;
}

#about-us .btn {
    width: 50%;
    min-width: 100px;
    max-width: 300px;
    margin-left: 0;
}

/* Hunting Banner Section */
#hunt-banner {
    position: relative;
    color: white;
    height: 50vh;
    margin-top: 200px;
    min-height: 400px;
    max-height: 800px;
    background-position: center;
    background-size: cover;
    z-index: 1;
    background-image: url('/assets/images/bow-arrow-banner.webp');
}

#hunt-banner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .4;
    background: linear-gradient(#d6173f -10%, #00113e 75%);
    /* background: linear-gradient(to top, blue, red); */
}

#hunt-banner p {
    font-size: 1.3rem;
}

#hunt-banner #hunting-banner-buttons {
    width: 100%;
    margin-top: 1rem;
}

#hunt-banner #hunting-banner-buttons .btn {
    min-width: 200px;
    max-width: 300px;
    width: 20%;
}

#hunt-banner h2, #hunt-banner h4 {
    margin: 0;
}

/* Share Page Section */
#share-page-cta {
    margin-bottom: 100px;
}

#share-page-cta h3 {
    margin-bottom: 0;
}


#share-page-cta .social-icon {
    width: 100%;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    font-size: 2rem;
    aspect-ratio: 1;
}

/* Contact US */
#contact {
    margin: 0 2rem;
}

#contact > * {
    display: flex;
    width: 100%;
}

#contact .contact-card {
    align-items: center;
    background-color: #353535;
    height: 100%;
    color: white;
    margin: 1rem 0;
    margin-right: 1rem;
    padding-left: 2rem;
    transition: transform, background-color, color, box-shadow;
    transition-duration: 200ms;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
}

#contact .contact-card:hover {
    transform: scale(1.01);
    background-color: var(--primary);
    color: var(--foreground);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}


#contact .contact-card:hover i, #contact .contact-card:hover a.value {
    color: var(--foreground);
}

#contact .contact-card .col {
    margin: 1rem;
}

#contact .contact-card p.name {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

#contact .contact-card a.value {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

#contact .contact-card i {
    font-size: 3rem;
    color: var(--primary);
    padding: 1rem;
}
