@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #ffe161;
    --foreground: hsl(0, 0%, 15%);
    --background: hsl(0, 0%, 95%);
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    color: var(--foreground);
    background-color: var(--background);
}


.col, .row, .center {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
}

.center {
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}
h1{
    font-size: 8rem;
}
h2{
    font-size: 6rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h5{
    font-size: 2rem;
}