#order-complete-landing {
    color: white;
    position: relative;
    height: 70vh;
    min-height: 400px;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/images/campfire.webp');
}

#order-complete-landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, .75);
}

#order-complete-landing img {
    height: 35%;
    min-height: 300px;
    max-height: 450px;
    margin-bottom: 4rem;
    max-width: 75%;
}

#order-complete-landing #landing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1, h3 {
    margin: 0;
}