@media (max-height: 730px) {
    #page-arrow {
        position: fixed;
        right: 1rem;
        background-color: rgba(0, 0, 0, .5);
    }
}

@media (max-width: 1375px) {
    #time-span #buttons, #payment-method #buttons {
        flex-direction: column;
    }

    .card {
        width: 85%;
        max-width: unset;
        min-width: unset;
        height: 200px;
        max-height: unset;
        min-height: unset;
        margin: 1rem 0rem;
        justify-content: start;
        align-items: start;
        background: var(--foreground);
        border-radius: 20px;
        padding: 10px;
    }

    .card .btn {
        display: none;
    }

    .card .description {
        transform: translateY(0);
        opacity: 1;
    }

    .card::before {
        content: unset;
    }

    .card::after {
        content: unset;
    }
}

@media (max-width: 1280px) {
    #about-us>.row img {
        display: none;
    }

    #contact {
        flex-direction: column-reverse;
    }

    #contact .contact-card {
        padding: 2rem;
    }

    #cabin #cabin-image {
        display: none;
    }

}

@media (max-width: 1020px) {
    #time-span, #payment-method {
        flex-direction: column;
    }

    #time-span #buttons, #payment-method #buttons {
        flex-direction: row;
    }

    #timespan-information, #payment-information {
        width: 90%;
    }

    #payment-information #cards {
        display: none;
    }

    .card {
        height: 20px;
        min-width: 50px;
        width: 30%;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        margin: .5rem;
    }

    .card .name {
        font-size: 1rem;
    }

    .card .description {
        display: none;
    }

    #contact-information h2 {
        font-size: 3rem;
    }

    #contact-information .col {
        width: calc(100% - 4rem);
    }


}

@media (max-width: 720px) {
    #timespan-information h2 {
        font-size: 2rem;
    }

    #hunt-banner h4 {
        display: none !important;
    }

    #hunt-banner h2 {
        font-size: 3rem;
    }

    #hunt-banner p {
        font-size: 1rem;
    }

    #hunt-banner .btn.secondary {
        display: none;
    }

    nav {
        justify-content: start;
    }

    nav #nav-items {
        position: fixed;
        inset: 0;
        flex-direction: column;
        background: black;
        max-width: 100%;
        justify-content: center;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        transition: opacity 500ms;
    }

    nav.active #nav-items {
        opacity: 1;
        pointer-events: all;
        padding: 0;
    }


    nav #nav-items .nav-item:not(.btn) {
        font-size: 2rem;
        margin: 2rem;
        width: 50%;
        border-bottom: 2px solid white;
    }

    nav #nav-hamburger {
        display: block;
    }

    #top-bar, #middle-bar, #bottom-bar {
        transition: transform 500ms;
        transform-origin: center;

    }

    #middle-bar {
        transition: opacity 200ms;
    }

    nav.active #nav-hamburger #top-bar {
        transform: translateX(-13px) translateY(10px) rotate(55deg);
    }

    nav.active #nav-hamburger #middle-bar {
        opacity: 0;
    }

    nav.active #nav-hamburger #bottom-bar {
        transform: translateX(-14px) translateY(-13px) rotate(-55deg);
    }

    #about-us {
        padding: 0 1rem;
    }

    #payment-form .row {
        flex-direction: column;
    }

    #payment-form {
        width: calc(100% - 4rem);
    }

}

@media (max-width: 600px) {
    #timespan-information, #payment-information {
        height: fit-content;
    }


    #timespan-information h2, #payment-information h2 {
        text-align: center;
        font-size: 2rem;
    }

    #timespan-information p, #payment-information p {
        display: none;
    }

    #time-span #buttons, #payment-method #buttons {
        width: 100%;
        flex-direction: column;
    }

    #cabin #cabin-names {
        font-size: 1rem;
    }

    .booking-landing h1 {
        font-size: 2rem;
    }

    .items {
        flex-direction: column;
    }

    #times #end-times, #times #start-times {
        width: 95%;
        margin: 1rem;
    }

    #times h2 {
        font-size: 3rem;
    }

    #times h4 {
        font-size: 2rem;
    }

    .count {
        font-size: 1rem;
        padding: 1rem;
        margin: 5px;
    }

    .card {
        width: 85%;
        max-width: unset;
        min-width: unset;
        height: fit-content;
        margin: 1rem;
        justify-content: start;
        align-items: start;
        background: var(--foreground);
        border-radius: 20px;
        padding: 2rem;
    }

    .card .description {
        display: block;
    }

    .form h1 {
        font-size: 4rem;
    }

    .form #button-panel {
        flex-direction: column;
    }

    .form toggle.password {
        margin-top: 0;
    }

    body#services h1 {
        font-size: 5rem;
    }
    body#services h3 {
        font-size: 3rem;
    }

}

@media (max-width: 480px) {
    #share-page-cta h3 {
        font-size: 2.5rem;
    }

    .contact-card i {
        display: none;
    }

}