colorpicker {
    --size: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: var(--size);
    min-width: var(--size);
    aspect-ratio: 1.5/1;
    background-color: var(--background-darker);
    overflow: hidden;
}

colorpicker .body {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 200%;
    height: calc(100% - 10rem);  
    left: 0%;
    top: 50px;
    transition: left 500ms;
}

colorpicker .body>* {
    width: 100%;
    height: 100%;
}

colorpicker .title {
    width: calc(100% - 2rem);
    margin: 1rem;
    text-align: center;
    border-bottom: 2px solid hsla(var(--primary-hue), var(--primary-saturation), var(--primary-lightness), .5);
}

colorpicker .bottom {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    height: 2rem;
}

colorpicker .bottom>* {
    width: 30%;
}

colorpicker .picker .hue {
    position: relative;
    overflow: visible;
    width: 40px;
    height: 100%;
    margin-right: 2rem;
    cursor: pointer;
    background: linear-gradient(hsl(0, 100%, 50%), hsl(40, 100%, 50%), hsl(80, 100%, 50%), hsl(120, 100%, 50%), hsl(160, 100%, 50%), hsl(200, 100%, 50%), hsl(240, 100%, 50%), hsl(280, 100%, 50%), hsl(320, 100%, 50%), hsl(360, 100%, 50%));
}

colorpicker .picker .hue .cursor {
    position: absolute;
    top: 0;
    width: 120%;
    left: -10%;
    height: 5px;
    border-radius: 180px;
    outline: 3px solid white;
    background-color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

colorpicker .picker .sat-lat .cursor {
    position: absolute;
    --size: 20px;
    width: var(--size);
    height: var(--size);
    top: 50%;
    left: 50%;
    border-radius: 180px;
    outline: 2px solid white;
    background-color: transparent;
    cursor: pointer;
}

colorpicker .picker .sat-lat {
    --hue: 0;
    position: relative;
    background:
        linear-gradient(to top, #000 1%, transparent 100%),
        linear-gradient(to right, #fff 1%, hsl(var(--hue), 100%, 50%) 100%);
    border: 2px solid var(--background);
    width: calc(100% - 20px - 50px);
    height: 100%;
    right: 15px;
    cursor: pointer;

}

colorpicker .picker .color-hsl {
    position: absolute;
    bottom: 50px;
}

colorpicker .picker {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

colorpicker .picker .hue-sat-lat {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

colorpicker .sliders {
    display: flex;
    flex-direction: column;
}

colorpicker .picker, colorpicker .sliders>* {
    margin: .5rem .5rem;
    max-width: calc(100% - 4rem);
}