.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    transition: background 500ms;
    z-index: 4;
}

.popup.open {
    pointer-events: unset;
    background-color: rgba(0, 0, 0, .75);
    overflow: scroll;
}

.popup .popup-body {
    background-color: var(--background);
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    min-height: 300px;
}

.popup .popup-body>* {
    max-width: calc(100% - 4rem);
    margin: 2rem;
}

.popup .popup-body.title>.title {
    max-width: 100%;
    margin: unset;
}

.popup .curtain {
    transition: transform 500ms 100ms;
    transform: translateY(-100vh);
}

.popup.open .curtain {
    transform: translateY(0);
}

.popup .fade {
    transition: opacity 200ms 100ms;
    transform: translateY(00);
    opacity: 0;
}

.popup.open .fade {
    opacity: 1;
}

.popup .popup-body.centered {
    width: unset;
    height: unset;
}

.popup .popup-body.centered.large {
    top: 10%;
    left: 5%;
    bottom: 10%;
    right: 5%;
}

.popup .popup-body.centered.small {
    top: 30%;
    left: 15%;
    bottom: 30%;
    right: 15%;
}

.popup .popup-body.title {
    border: 1px solid var(--primary);
}

.popup .popup-body.title .title {
    width: 100%;
    background-color: var(--primary);
    height: 3rem;
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
    box-shadow: 0 -4px 0 10px hsl(var(--primary-hue), calc(var(--primary-saturation) - 15%), calc(var(--primary-lightness) - 25%));
}